<oag-service-header active="schaufenster"></oag-service-header>

<h1>1. Einträge</h1>
<h2>1.1. Eintrag Id Formatted Prefix</h2>
<oag-eintrag-id-formatted-prefix [eintrag]="{idFormatted: '000013', bestand: {id: 1, signatur: 'GOA'}}">
</oag-eintrag-id-formatted-prefix>
<oag-eintrag-id-formatted-prefix [eintrag]="{idFormatted: '000001', bestand: {id: 2, signatur: 'GFA'}}">
</oag-eintrag-id-formatted-prefix>
<oag-eintrag-id-formatted-prefix [eintrag]="{idFormatted: '000001', bestand: {id: 3, signatur: 'GSA'}}">
</oag-eintrag-id-formatted-prefix>
<oag-eintrag-id-formatted-prefix [eintrag]="{idFormatted: '000001', bestand: {id: 4, signatur: 'GDA'}}">
</oag-eintrag-id-formatted-prefix>
<oag-eintrag-id-formatted-prefix [eintrag]="{idFormatted: '000001', bestand: {id: 5, signatur: 'GLA'}}">
</oag-eintrag-id-formatted-prefix>
<oag-eintrag-id-formatted-prefix [eintrag]="{idFormatted: '000001', bestand: {id: 6, signatur: 'GZA'}}">
</oag-eintrag-id-formatted-prefix>
<oag-eintrag-id-formatted-prefix [eintrag]="{idFormatted: '000013', bestand: {id: 1, signatur: 'GOA'}}" [size]="30">
</oag-eintrag-id-formatted-prefix>
<oag-eintrag-id-formatted-prefix [eintrag]="{idFormatted: '000001', bestand: {id: 2, signatur: 'GFA'}}" [size]="50">
</oag-eintrag-id-formatted-prefix>
<oag-eintrag-id-formatted-prefix [eintrag]="{idFormatted: '000001', bestand: {id: 3, signatur: 'GSA'}}" [size]="10">
</oag-eintrag-id-formatted-prefix>
<oag-eintrag-id-formatted-prefix [eintrag]="{idFormatted: '000001', bestand: {id: 4, signatur: 'GDA'}}" [size]="70">
</oag-eintrag-id-formatted-prefix>
<oag-eintrag-id-formatted-prefix [eintrag]="{idFormatted: '000001', bestand: {id: 5, signatur: 'GLA'}}" [size]="15">
</oag-eintrag-id-formatted-prefix>
<oag-eintrag-id-formatted-prefix [eintrag]="{idFormatted: '000001', bestand: {id: 6, signatur: 'GZA'}}" [size]="90">
</oag-eintrag-id-formatted-prefix>